@{
    ViewBag.Title = "Home Page";
}

<!-- Demo Aero Window - FireFox App -->
<div id="appContactManager" style="display: none;">
    <iframe src="http://e1.englishtown.com" width="100%" height="100%" style="border: 0px;"></iframe>
    <div id="iframeHelper">
    </div>
</div>

